#nprogress .bar {
    background: red !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}


h1 {
    font-size: 16pt;
}
#map{
    display: block;
    height: 400px;
    width: 100%;
}
div#side-bar {
    height: 400px;
}

input[type=number]{
    width: 100px;
}

div.container button {
    float: right;
    margin-right: 10px;
}